{% extends "index.html" %} {% block content %}
<div class="max-w-4xl mx-auto p-8 bg-amber-100 rounded-2xl shadow-xl mt-10">
  <h2 class="text-3xl font-bold text-gray-800 mb-6 border-b pb-2">
    Detalles de la Orden
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-6 text-gray-700">
    <div>
      <span class="block text-sm font-medium text-gray-500"> Usuario</span>
      <span class="text-lg font-semibold">{{ order.user.username|title }}</span>
    </div>
    <div>
      <span class="block text-sm font-medium text-gray-500">
        Fecha de la Orden</span
      >
      <span class="text-lg font-semibold"
        >{{ order.order_date|date:"F j, Y – H:i" }}</span
      >
    </div>
  </div>

  <h3 class="text-2xl font-bold text-gray-800 mb-4">Artículos en tu orden</h3>

  <div class="divide-y divide-gray-200 mb-6">
    {% for product_order in order.orderproduct_set.all %}
    <div class="flex justify-between items-center py-4">
      <div>
        <p class="text-lg font-medium text-gray-800">
          {{ product_order.product.name }}
        </p>
        <p class="text-sm text-gray-500">
          Cantidad: {{ product_order.quantity }}
        </p>
      </div>
      <p class="text-lg font-semibold text-gray-900">
        ${{ product_order.product.price }}
      </p>
    </div>
    {% empty %}
    <div class="text-red-500 text-center py-4">
      No hay artículos en tu orden.
    </div>
    {% endfor %}
  </div>

  <div class="text-right">
    <span class="text-xl font-bold text-gray-900"
      >Total: ${{ order.total }}</span
    >
  </div>
</div>
{% endblock content %}
